<section id="content">
  <div class="container">
    <section class="lesson-section">
      <blockquote>
        <q><span class="icon-svg5"></span> Your writing to transcend the traditional word and braid together plot and emotion. <span class="icon-svg4"></span></q>
        <cite>james in lesson 3: <em>the art of the plot twist</em></cite>
      </blockquote><!-- end blockquote-->
      <h2>learn more about James patterson</h2>
      <p>It is no surprise that in January, 2010, The New York Times Magazine featured James Patterson on its cover and hailed him as having "transformed book publishing," and that Time magazine hailed him as "The Man Who Can't Miss." Recently, NBC's Rock Center with Brian Williams profiled Patterson's prolific career, AARP named him one of the "50 Most Influential People Who Make Our Days a Little Brighter," and Variety featured him in a cover story highlighting his adventures in Hollywood.</p>
      <h2>James’ office hours for enrolled student</h2>
      <p>As an enrolled student, you can participate in office hours with James where you can submit as many text and video questions as you want and James will pick his favorite to personally answer. Here’s a sample of the questions James has answered as part of his class:</p>
      <div class="video-question row">
        <div class="col-sm-6">
          <div class="video-block">
            <span class="video-title">Q:</span>
            <div class="holder">
              <%= image_tag('img43.jpg', alt: 'image description', width: '375', height: '210') %>
              <a class="play" href="#"><span class="icon-svg"></span></a>
            </div><!-- end holder -->
          </div><!-- end video-block -->
          <span class="caption">Video question submitted by <span class="name">Lyle Lovelorn</span></span>
        </div><!-- end col-sm-6 -->
        <div class="col-sm-6">
          <div class="video-block">
            <span class="video-title">A:</span>
            <div class="holder">
              <%= image_tag('img44.jpg', alt: 'image description', width: '375', height: '210') %>
              <a class="play" href="#"><span class="icon-svg"></span></a>
            </div><!-- end holder -->
          </div><!-- end video-block -->
          <span class="caption">Video answer submitted by <span class="name">James Patterson</span></span>
        </div><!-- end col-sm-6 -->
      </div><!-- end video-question row -->
      <blockquote>
        <q><span class="icon-svg5"></span>Patterson is one of the world’s most prolific and popular fiction writers, thanks to a fast-paced style and genre-spanning oeuvre.<span class="icon-svg4"></span></q>
        <cite><%= image_tag('logo-harvard.png', alt: "Harvard Business Review", width: '148', height: '57') %></cite>
      </blockquote><!-- end blockquote -->
    </section><!-- end section lesson-section-->
  </div><!-- end container -->
</section><!-- end section content -->
<section class="item-section">
  <div class="container">
    <div class="item-row">
      <div class="item-holder">
        <h3>Join the first-ever online CLass</h3>
        <h2>james patterson teaches you writing</h2>
        <span class="icon icon-svg8"><em>$</em>50</span>
        <button class="button">take his class</button>
        <a class="share" href="#"><span class="icon-svg2"></span> Share, gift or audit</a>
        <div class="social-block">
          <ul>
            <li><a href="#"><span class="ico-twitter"></span></a></li>
            <li><a href="#"><span class="ico-facebook"></span></a></li>
            <li><a href="#"><span class="ico-mail"></span></a></li>
          </ul><!-- end ul -->
        </div><!-- end  social-block -->
      </div><!-- end item-holder -->
    </div><!-- end item-row -->
  </div><!-- end container -->
</section><!-- end section item-section -->
<div class="container">
  <section class="blocks-holder">
    <h2>other classes</h2>
    <div class="holder">
      <div class="item-block">
        <span data-picture data-alt="image description">
          <span data-src="<%= image_path('exampleimages/img34.jpg') %>" ></span>
          <span data-src="<%= image_path('exampleimages/img34-2x.jpg') %>" data-media="(-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi)" ></span>
          <span data-src="<%= image_path('exampleimages/img34-small.jpg') %>" data-width="160" data-height="141" data-media="(max-width:767px)" ></span>
          <span data-src="<%= image_path('exampleimages/img34-small2x.jpg') %>" data-media="(max-width:767px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:767px) and (min-resolution:144dpi)" ></span>
          <!--[if (lt IE 9) & (!IEMobile)]>
            <span data-src="images/img34.jpg"></span>
          <![endif]-->
          <!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
          <noscript><%= image_path('exampleimages/img34.jpg', width: '971', height: '351', alt: 'image description') %></noscript>
        </span>
        <div class="caption-box">
          <a href="#">
            <span class="name">BeyoncÉ</span>
            teaches you performance
          </a><!-- end a -->
          <span class="text">class coming soon</span>
        </div><!-- end caption-block -->
      </div><!-- end item-block -->
    </div><!-- end holder -->
    <div class="holder">
      <div class="item-block">
        <span data-picture data-alt="image description">
          <span data-src="<%= image_path('exampleimages/img35.jpg') %>" ></span>
          <span data-src="<%= image_path('exampleimages/img35-2x.jpg') %>" data-media="(-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi)" ></span>
          <span data-src="<%= image_path('exampleimages/img35-small.jpg') %>" data-width="160" data-height="141" data-media="(max-width:767px)" ></span>
          <span data-src="<%= image_path('exampleimages/img35-small2x.jpg') %>" data-media="(max-width:767px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:767px) and (min-resolution:144dpi)" ></span>
          <!--[if (lt IE 9) & (!IEMobile)]>
            <span data-src="images/img35.jpg"></span>
          <![endif]-->
          <!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
          <noscript><%= image_path('exampleimages/img35.jpg', width: '971', height: '351', alt: 'image description') %></noscript>
        </span>
        <div class="caption-box">
          <a href="#">
            <span class="name">paul mcCartney</span>
            teaches you  songwriting
          </a><!-- end a -->
          <span class="text">class coming soon</span>
        </div><!-- end caption-box -->
      </div><!-- end item-block -->
    </div><!-- end holder -->
    <div class="holder">
      <div class="item-block">
        <span data-picture data-alt="image description">
          <span data-src="<%= image_path('exampleimages/img36.jpg') %>" ></span>
          <span data-src="<%= image_path('exampleimages/img36-2x.jpg') %>" data-media="(-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi)" ></span>
          <span data-src="<%= image_path('exampleimages/img36-small.jpg') %>" data-width="160" data-height="141" data-media="(max-width:767px)" ></span>
          <span data-src="<%= image_path('exampleimages/img36-small2x.jpg') %>" data-media="(max-width:767px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:767px) and (min-resolution:144dpi)" ></span>
          <!--[if (lt IE 9) & (!IEMobile)]>
            <span data-src="images/img36.jpg"></span>
          <![endif]-->
          <!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
          <noscript><%= image_path('exampleimages/img36.jpg', width: '971', height: '351', alt: 'image description') %></noscript>
        </span>
        <div class="caption-box">
          <a href="#">
            <span class="name">meryl streep</span>
            teaches you acting
          </a><!-- end a -->
          <span class="text">class coming soon</span>
        </div><!-- end caption-box -->
      </div><!-- item-block -->
    </div><!-- holder -->
  </section><!-- end section blocks-holder -->
</div><!-- end container -->

